<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<div class="containe" style="display: flex;justify-content: left;margin-top: -20px;background-image:url('/assets/assets/e.gif') ;">
  <img src="assets/e.gif" alt="" style="width:100%;">
  <!-- <h1>
    <br> Hire the best freelancers for any job, online.</h1>
  <div class="con">
    <button class="btn">Earn Mony Freelancing</button>
    <button class="btnt">Hire a freelancer</button>
  </div> -->
</div>
<div style="margin:70px;">
  <h1 style="font-weight:bold">Need something done?</h1>
  <div style="margin-top: 50px;"> 
    <div class="card" style="width: 18rem;display: inline-block;margin-right:10px;">
      <div class="card-body">
        <i class="fa-solid fa-folder-plus" style="float:left;margin-right: 15px;font-size: 40px;color: #404c68;"></i>
        <h5 class="card-title">Post a job</h5>
        <p class="card-text">It’s free and easy to post a job. Simply fill in a title, description and budget and competitive bids come within minutes.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;display: inline-block;margin-right:10px;">
      <div class="card-body">
        <i class="fa-solid fa-users-gear" style="float:left;margin-right: 15px;font-size: 40px;color: #404c68;"></i>
        <h5 class="card-title">Choose freelancers</h5>
        <p class="card-text">No job is too big or too small. We've got freelancers for jobs of any size or budget, across 1800+ skills. No job is too complex. We can get it done!</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;display: inline-block;margin-right:10px;">
      <div class="card-body">
        <i class="fa-brands fa-amazon-pay" style="float:left;margin-right: 15px;font-size: 40px;color: #404c68;"></i>
        <h5 class="card-title">Pay safely</h5>
        <p class="card-text">Only pay for work when it has been completed and you're 100% satisfied with the quality using our milestone payment system.</p>
      </div>
    </div>
      <div class="card" style="width: 18rem;display: inline-block;margin-right:10px;">
        <div class="card-body">
          <i class="fa-solid fa-handshake-angle" style="float:left;margin-right: 15px;font-size: 40px;color: #404c68;"></i>
          <h5 class="card-title">We’re here to help</h5>
          <p class="card-text">Our talented team of recruiters can help you find the best freelancer for the job and our technical co-pilots can even manage the project for you.</p>
        </div>
      </div>
      <hr style="width:100%;text-align:left;margin:100px 0px 100px 0px;background-color: #404c68;">
<!-- ********************************************************************************* -->
      <h1 style="font-weight:bold">What's great about it?</h1>
      <div style="margin-top: 50px;"> 
        <div class="card" style="width: 18rem;display: inline-block;margin-right:10px;">
          <div class="card-body">
            <i class="fa-regular fa-window-restore" style="float:left;margin-right: 15px;font-size: 40px;color: #404c68;"></i>
            <h5 class="card-title">Browse portfolios</h5>
            <p class="card-text">Find professionals you can trust by browsing their samples of previous work and reading their profile reviews.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;display: inline-block;margin-right:10px;">
          <div class="card-body">
            <i class="fa-regular fa-id-card" style="float:left;margin-right: 15px;font-size: 40px;color: #404c68;"></i>
            <h5 class="card-title">Fast bids</h5>
            <p class="card-text">Receive obligation free quotes from our talented freelancers fast. 80% of projects get bid on within 60 seconds.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;display: inline-block;margin-right:10px;">
          <div class="card-body">
            <i class="fa-solid fa-certificate" style="float:left;margin-right: 15px;font-size: 40px;color: #404c68;"></i>
            <h5 class="card-title">
              Quality work</h5>
            <p class="card-text">Freelancer.com has by far the largest pool of quality freelancers globally- over 60 million to choose from.</p>
          </div>
        </div>
          <div class="card" style="width: 18rem;display: inline-block;margin-right:10px;">
            <div class="card-body">
              <i class="fa-solid fa-gauge-high" style="float:left;margin-right: 15px;font-size: 40px;color: #404c68;"></i>
              <h5 class="card-title">Track progress</h5>
              <p class="card-text">Keep up-to-date and on-the-go with our time tracker, and mobile app. Always know what freelancers are up to.</p>
            </div>
          </div>
      </div>
    <hr style="width:100%;text-align:left;margin:100px 0px 100px 0px;background-color: #404c68;">
    <h1 style="font-weight:bold">Make it Real with Freelancer.</h1>
    <!-- ***************************************************************************
    ***************************************************************************  -->
    <div style="margin-top: 50px"> 
      <div class="card" style="width: 18rem;display: inline-block;margin-right:10px;">
        <div class="card-body">
          <img src="assets/ai.png" alt="" style="width: 250px;height: 250px;">
          <h5 class="card-title" style="font-weight:bold">AI generated art.
            $200 USD in 7 days.</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;display: inline-block;margin-right:10px;">
        <div class="card-body">
          <img src="assets/wordpress.png" alt="" style="width: 250px;height: 250px;">
          <h5 class="card-title" style="font-weight:bold">Wordpress website.
            $125 USD in 1 day.</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;display: inline-block;margin-right:10px;">
        <div class="card-body">
          <img src="assets/interior.png" alt="" style="width: 250px;height: 250px;">
          <h5 class="card-title" style="font-weight:bold">Interior 3D model.
            $350 USD in 7 days.</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;display: inline-block;margin-right:10px;">
          <div class="card-body">
            <img src="assets/packaging-design.png" alt="" style="width: 250px;height: 250px;">
            <h5 class="card-title" style="font-weight:bold">Packaging design.
              $2500 USD in 30 days</h5>
          </div>
      </div>
    </div>
    <div style="margin-top: 50px"> 
      <div class="card" style="width: 18rem;display: inline-block;margin-right:10px;">
        <div class="card-body">
          <img src="assets/mobile-app.png" alt="" style="width: 250px;height: 250px;">
          <h5 class="card-title" style="font-weight:bold">Mobile app.
            $21000 USD in 60 days.</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;display: inline-block;margin-right:10px;">
        <div class="card-body">
          <img src="assets/character-illustration.png" alt="" style="width: 250px;height: 250px;">
          <h5 class="card-title" style="font-weight:bold">Character illustration.
            $60 USD in 5 days.</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;display: inline-block;margin-right:10px;">
        <div class="card-body">
          <img src="assets/book-cover-design.png" alt="" style="width: 250px;height: 250px;">
          <h5 class="card-title" style="font-weight:bold">Book cover design.
            $25 USD in 3 days.</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;display: inline-block;margin-right:10px;">
          <div class="card-body">
            <img src="assets/product-3d-modelling.png" alt="" style="width: 250px;height: 250px;">
            <h5 class="card-title" style="font-weight:bold">Product 3D modelling.
              $430 USD in 3 weeks.</h5>
          </div>
      </div>
  </div>
  <div style="margin-top: 50px"> 
    <div class="card" style="width: 18rem;display: inline-block;margin-right:10px;">
      <div class="card-body">
        <img src="assets/ai-generated-illustration.png" alt="" style="width: 250px;height: 250px;">
        <h5 class="card-title" style="font-weight:bold">AI generated illustration.
          $12 USD in 6 days.</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;display: inline-block;margin-right:10px;">
      <div class="card-body">
        <img src="assets/album-cover.png" alt="" style="width: 250px;height: 250px;">
        <h5 class="card-title" style="font-weight:bold">Album cover.
          $110 USD in 9 days.</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;display: inline-block;margin-right:10px;">
      <div class="card-body">
        <img src="assets/architectural-design.png" alt="" style="width: 250px;height: 250px;">
        <h5 class="card-title" style="font-weight:bold">Architectural design.
          $5000 USD in 30 days.</h5>
      </div>
    </div>
    <div class="card" style="width: 18rem;display: inline-block;margin-right:10px;">
        <div class="card-body">
          <img src="assets/video-production.png" alt="" style="width: 250px;height: 250px;">
          <h5 class="card-title" style="font-weight:bold">Video production.
            $1960 USD in 30 days.</h5>
        </div>
    </div>

<!-- <span><i class="fa-solid fa-star"></i></span>
<span><i class="fa-solid fa-star"></i></span>
<span><i class="fa-solid fa-star"></i></span>
<span><i class="fa-solid fa-star"></i></span>
<span><i class="fa-solid fa-star"></i></span> -->
</div>
</div>
</div>
</body>
</html>